:root {
  --bg-color: #ffffff;
  --bg-color-rgb: #2e3440;
  --text-color: #2e3440;
  --text-color-rgb: #2e3440;
  --header-bg-color: #f8f9fa;
  --border-color: #d8dee9;
  --inline-code-bg: rgba(0, 0, 0, 0.05);
  --codeblock-opacity: 0.025;
  --line-height-tight: 1.3;
  --callout-border-width: 1px;
  --callout-border-opacity: 1;
  --callout-background-opacity: 0.025;
  --callout-padding: 12px 12px 12px 24px;
  --callout-radius: 10px;
  --callout-title-weight: 700;
  --callout-default: 8, 109, 221;
  --callout-info: 8, 109, 221;
  --callout-note: 8, 109, 221;
  --callout-todo: 8, 109, 221;
  --callout-bug: 233, 49, 71;
  --callout-error: 233, 49, 71;
  --callout-caution: 233, 49, 71;
  --callout-danger: 233, 49, 71;
  --callout-fail: 233, 49, 71;
  --callout-success: 8, 185, 78;
  --callout-example: 120, 82, 238;
  --callout-important: 127, 0, 255;
  --callout-summary: 0, 191, 188;
  --callout-tip: 0, 191, 188;
  --callout-question: 236, 117, 0;
  --callout-warning: 236, 117, 0;
  --callout-quote: 158, 158, 158;
  --callout-cite: 158, 158, 158;
  --css-color-white: 255, 255, 255;
  --css-color-black: 0, 0, 0;
}

pre:has(code[class^="language"]) {
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--inline-code-bg);
}

.callout {
  overflow: hidden;
  border-style: solid;
  border-color: rgba(var(--callout-color), var(--callout-border-opacity));
  border-width: var(--callout-border-width);
  border-radius: var(--callout-radius);
  border-left: calc(var(--callout-radius) * 1.25) solid rgb(var(--callout-color));
  margin: 1em 0;
  mix-blend-mode: var(--callout-blend-mode);
  background-color: rgba(var(--callout-color), var(--callout-background-opacity));
  padding: var(--callout-padding);
  --callout-color: var(--callout-info);
}
.callout[data-callout] {
  --callout-color: var(--callout-default);
}
.callout[data-callout=info] {
  --callout-color: var(--callout-info);
}
.callout[data-callout=note] {
  --callout-color: var(--callout-note);
}
.callout[data-callout=todo] {
  --callout-color: var(--callout-todo);
}
.callout[data-callout=bug] {
  --callout-color: var(--callout-bug);
}
.callout[data-callout=error] {
  --callout-color: var(--callout-error);
}
.callout[data-callout=caution] {
  --callout-color: var(--callout-caution);
}
.callout[data-callout=danger] {
  --callout-color: var(--callout-danger);
}
.callout[data-callout=failure],
.callout[data-callout=fail] {
  --callout-color: var(--callout-fail);
}
.callout[data-callout=done],
.callout[data-callout=check],
.callout[data-callout=success] {
  --callout-color: var(--callout-success);
}
.callout[data-callout=example] {
  --callout-color: var(--callout-example);
}
.callout[data-callout=important] {
  --callout-color: var(--callout-important);
}
.callout[data-callout=summary],
.callout[data-callout=tldr],
.callout[data-callout=scroll],
.callout[data-callout=history],
.callout[data-callout=abstract] {
  --callout-color: var(--callout-summary);
}
.callout[data-callout=tip],
.callout[data-callout=hint] {
  --callout-color: var(--callout-tip);
}
.callout[data-callout=help],
.callout[data-callout=faq],
.callout[data-callout=question] {
  --callout-color: var(--callout-question);
}
.callout[data-callout=warn],
.callout[data-callout=attention],
.callout[data-callout=warning] {
  --callout-color: var(--callout-warning);
}
.callout[data-callout=quote] {
  --callout-color: var(--callout-quote);
}
.callout[data-callout=cite] {
  --callout-color: var(--callout-cite);
}
.callout .callout-title {
  padding: var(--callout-title-padding);
  display: block;
  gap: 4px;
  font-size: var(--callout-title-size);
  color: rgb(var(--callout-color));
  line-height: var(--line-height-tight);
  font-weight: var(--callout-title-weight);
}
.callout .callout-title p.callout-title-text {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  font-weight: var(--callout-title-weight);
}
.callout .callout-title svg {
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: -0.3em;
  align-items: center;
  margin-right: 0.2em;
}
.callout p:not(:first-child) {
  padding: var(--callout-content-padding);
  background-color: var(--callout-content-background);
}

details.callout > summary {
  list-style: none;
}
details.callout > summary::after {
  font-size: 1.2em;
  content: "\2BC8";
}
details.callout[open] > summary {
  list-style: none;
}
details.callout[open] > summary::after {
  font-size: 1.2em;
  content: "\2BC6";
}