:root {
  --border-color: #d8dee9;
  --inline-code-bg: rgba(0, 0, 0, 0.05);
  --line-height-tight: 1.3;
  --callout-border-width: 1px;
  --callout-border-opacity: 1;
  --callout-background-opacity: 0.025;
  --callout-padding: 12px 12px 3px 9px;
  --callout-radius: 10px;
  --callout-title-size: 1.1em;
  --callout-title-weight: 700;
  --callout-title-padding: 0;
  --callout-content-padding: 0;
  --callout-content-background: transparent;
  --callout-default: 8, 109, 221;
  --callout-note: 8, 109, 221;
  --callout-tip: 0, 191, 188;
  --callout-important: 127, 0, 255;
  --callout-warning: 236, 117, 0;
  --callout-caution: 233, 49, 71;
  --callout-bug: 233, 49, 71;
  --callout-example: 120, 82, 238;
  --callout-failure: 233, 49, 71;
  --callout-question: 236, 117, 0;
  --callout-quote: 158, 158, 158;
  --callout-scroll: 0, 191, 188;
  --callout-success: 8, 185, 78;
  --callout-summary: 0, 191, 188;
  --callout-todo: 8, 109, 221;
  --blockquote-border-color: 24, 24, 24;
}

blockquote {
  border-color: rgba(var(--blockquote-border-color), 0.2);
  border-left: 6px solid rgba(var(--blockquote-border-color), 0.125);
  padding-left: 10px;
}

pre:has(code[class^="language"]) {
  padding: 1px 12px 12px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--inline-code-bg);
  & code {
    position: relative;
    background-color: transparent;
  }
}

pre:has(code[class^="language"]) {
  & code::before {
    display: block;
    position: relative;
    top: 0.05em;
    left: -0.667em;
    margin: 0 0 8px 0;
    padding: 0px 0px 1px 8px;
    color: white;
    background: black;
    border-radius: 4px;
    min-width: 100px;
    max-width: 25%;
    font-size: 1.15em;
    font-variant: small-caps;
  }
}

pre:has(code[class^="language"]) code[class="language-md"]::before,
pre:has(code[class^="language"]) code[class="language-markdown"]::before {
    content: "markdown";
}

pre:has(code[class^="language"]) code[class="language-css"]::before {
    content: "css";
}

pre:has(code[class^="language"]) code[class="language-html"]::before {
    content: "html";
}

.callout {
  overflow: hidden;
  border-style: solid;
  border-color: rgba(var(--callout-color), var(--callout-border-opacity));
  border-width: var(--callout-border-width);
  border-radius: var(--callout-radius);
  border-left: calc(var(--callout-radius) * 1.25) solid rgb(var(--callout-color));
  margin: 1em 0;
  background-color: rgba(var(--callout-color), var(--callout-background-opacity));
  padding: var(--callout-padding);
  --callout-color: var(--callout-info);
}
.callout[data-callout] {
  --callout-color: var(--callout-default);
}
.callout[data-callout^=note],
.callout[data-callout^=info] {
  --callout-color: var(--callout-note);
}
.callout[data-callout^=tip],
.callout[data-callout^=hint] {
  --callout-color: var(--callout-tip);
}
.callout[data-callout=important] {
  --callout-color: var(--callout-important);
}
.callout[data-callout^=warn],
.callout[data-callout^=attention] {
  --callout-color: var(--callout-warning);
}
.callout[data-callout^=caution],
.callout[data-callout^=danger],
.callout[data-callout^=error] {
  --callout-color: var(--callout-caution);
}
.callout[data-callout^=bug] {
  --callout-color: var(--callout-bug);
}
.callout[data-callout^=example] {
  --callout-color: var(--callout-example);
}
.callout[data-callout^=fail],
.callout[data-callout^=missing] {
  --callout-color: var(--callout-failure);
}
.callout[data-callout^=question],
.callout[data-callout^=faq],
.callout[data-callout=help] {
  --callout-color: var(--callout-question);
}
.callout[data-callout^=quote],
.callout[data-callout=cite],
.callout[data-callout^=citation] {
  --callout-color: var(--callout-quote);
}
.callout[data-callout=scroll],
.callout[data-callout=tldr],
.callout[data-callout=history] {
  --callout-color: var(--callout-scroll);
}
.callout[data-callout=done],
.callout[data-callout=check],
.callout[data-callout=success] {
  --callout-color: var(--callout-success);
}
.callout[data-callout=summary],
.callout[data-callout^=abstract],
.callout[data-callout^=overview] {
  --callout-color: var(--callout-summary);
}
.callout[data-callout^=todo],
.callout[data-callout^=task],
.callout[data-callout^=list],
.callout[data-callout^=outline],
.callout[data-callout=checklist],
.callout[data-callout=punchlist] {
  --callout-color: var(--callout-todo);
}

.callout .callout-title {
  padding: var(--callout-title-padding);
  display: block;
  gap: 4px;
  font-size: var(--callout-title-size);
  color: rgb(var(--callout-color));
  line-height: var(--line-height-tight);
  font-weight: var(--callout-title-weight);
}
.callout .callout-title p.callout-title-text {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  font-weight: var(--callout-title-weight);
}
.callout .callout-title svg {
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: -0.3em;
  align-items: center;
  margin-right: 0.2em;
}
.callout p:not(:first-child) {
  padding: var(--callout-content-padding);
  background-color: var(--callout-content-background);
}

details.callout > summary {
  list-style: none;
}
details.callout > summary::after {
  font-size: 1.2em;
  content: "\2BC8";
}
details.callout[open] > summary {
  list-style: none;
}
details.callout[open] > summary::after {
  font-size: 1.2em;
  content: "\2BC6";
}

code {
  background-color: var(--inline-code-bg);
}

